/* .container{
    /* border: 2px solid black; */
    /* width: 700px; */
    /* height: 500px; */
    /* margin: 40px auto; */
    /* float: left; */
    /* font-size: 25px;
} */
.item{
    float: left;
    /* margin: 10px; */
}
.item1{
    width: 150px;
    height: 150px;
    background-color: lightblue;
    /* position: relative; */
    top: 190px;
    left: 30px;
    position: absolute;
    /* padding: 20px; */
    /* text-align: center; */
}
.item2{
    width: 150px;
    height: 150px;
    background-color: lightgreen;
    padding: 20px;
    text-align: center;
}
.item3{
    width: 150px;
    height: 150px;
    background-color: lightcoral;
    padding: 20px;
    text-align: center;
}
.paragraph{
    background-color: red;
    position: sticky;
    top: 0px;
    left: 0px;
}
nav{
    border: 2px solid black;
    width: 100vw;
    height: 70px;
    box-shadow: 2px 2px 5px black;
    display: flex;
}
.nav-logo{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: chartreuse; */
}
ul{
    width: 70%;
    /* background-color: darksalmon; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    font-size: 20px;
    font-weight: 600;
}
ul li:hover{
    color: hotpink;
    cursor: pointer;
}
.nav-logo p{
    color: rgb(17, 17, 236);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
}
.nav-logo p span{
    color: rgb(232, 132, 39);
}
.nav-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav-btn button{
    padding: 10px 20px;
    background-color:yellow;
    border: none;
    border-radius: 10px;
    color:black;
    font-weight: bold;
}
.nav-btn button:hover{
    background-color: beige;
    cursor: pointer ;
}
.move{
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transition-property: transform, background-color;
    transition-duration: 1s;
    transition-timing-function: ease;
    transition-delay: 2s;
}

.move:hover{
    transform: translate(300px);
}